[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EcoEnsemble"]
	path = EcoEnsemble
	url = https://github.com/cefasrepres/ecoensemble
